Workflow-in-production/Gold Price.json
{
  "name": "Gold Price",
  "nodes": [
    {
      "parameters": {
        "content": "Get USD Price",
        "height": 288,
        "width": 592,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        1232
      ],
      "typeVersion": 1,
      "id": "ee8a0f94-b520-43e7-bee4-14cdf30af426",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "API to retrieve the dollar-to-euro exchange rate and download it to the conversion to euro table.\nex: 1 euro = X usd",
        "height": 240,
        "width": 512,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        1264
      ],
      "typeVersion": 1,
      "id": "5892074c-65cd-4d66-ad74-81991f0158f6",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "url": "https://open.er-api.com/v6/latest/USD",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        704,
        1344
      ],
      "id": "c14738b5-b9fb-4c40-8bd2-894d0dbaa31d",
      "name": "HTTPGetCurrency1"
    },
    {
      "parameters": {
        "jsCode": "// GetOnlyEUR2 – VERSÃO 100% SUPABASE-PROOF (2025)\n// Garante ISO 8601 com Z → nunca mais erro de timestamp\n\nconst rates = $json.rates;\nconst EURPrice = rates?.EUR;\n\nif (EURPrice === undefined) {\n  throw new Error(\"EUR rate not found in API response\");\n}\n\n// time_last_update_utc já vem como string ISO do open.er-api (ex: \"2025-11-28 09:58:01\")\nconst apiTimeRaw = $json.time_last_update_utc?.trim();\n\n// Usa o timestamp da API se existir e for válido, senão usa agora\nlet market_data_at;\nif (apiTimeRaw && apiTimeRaw.match(/^\\d{4}-\\d{2}-\\d{2}/)) {\n  // Força Z no final (a API às vezes manda sem Z)\n  market_data_at = apiTimeRaw.endsWith('Z') ? apiTimeRaw : apiTimeRaw + 'Z';\n} else {\n  market_data_at = new Date().toISOString();\n}\n\n// Timestamp de processamento (exato momento que o n8n rodou)\nconst processed_at_utc = new Date().toISOString();\n\nreturn [\n  {\n    json: {\n      coin: \"EUR\",\n      price: parseFloat(EURPrice.toFixed(6)),  // mantemos 6 casas (padrão câmbio)\n      market_data_at: market_data_at,         // ← horário oficial da cotação (com Z)\n      processed_at_utc: processed_at_utc      // ← horário que entrou no seu sistema (com Z)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        1344
      ],
      "id": "395fd30c-fcd5-4fda-baf7-5a120ba8afdf",
      "name": "GetOnlyUSD1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        960,
        1040
      ],
      "id": "aeac8c03-419f-4370-b2f1-2b260faf3347",
      "name": "XML1",
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        1184
      ],
      "id": "bd819dda-9ee5-41cd-abcf-7dcc668dd7f1",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "url": "https://<gold-price-provider>/rates/<api-key>.xml",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        1040
      ],
      "id": "ec06661f-01da-4441-aef3-0a2992961cb3",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "content": "Http Request does:\n\nGet data from API link",
        "height": 240,
        "width": 272,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        960
      ],
      "typeVersion": 1,
      "id": "df744485-393d-4d72-bd9f-65ee449bc761",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Start and run every 10 minutes",
        "height": 224,
        "width": 384,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        1104
      ],
      "typeVersion": 1,
      "id": "7c64810a-3aed-4f00-9bf8-d84195f4f271",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Insert data into the price and error log tables.",
        "height": 512,
        "width": 752,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        1184
      ],
      "typeVersion": 1,
      "id": "74439189-a752-4627-8d93-9bdc42e50699",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "# Integration between Provider_API ⥵ N8N ⥵ SQL Server",
        "height": 992,
        "width": 3024,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        832
      ],
      "typeVersion": 1,
      "id": "28009d6c-8701-4f0d-aadd-3b7710f81f8f",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Code Function does:\nNormalize + Safety\nExplodes the array\nConverts types\nConverts data\nRemoves invalid values\nAdds ExecutionId\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n🟢 What this code does:\n✔ Cattura ed elabora solo oro 24 carati\n✔ Ignora argento, platino e palladio\n✔ Converte il valore dell'oro al grammo nel valore di un'oncia.\n✔ Ignora altri carati\n✔ Genera un errore se non viene trovato oro 24 carati (importante in produzione)\n✔ Mantiene la coerenza tra cronologia e dati correnti\n✔ Mantiene l'ExecutionId",
        "height": 512,
        "width": 688,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        976
      ],
      "typeVersion": 1,
      "id": "cc3b267b-1e37-44f9-925a-785d0ff9b6c7",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "XML to Json:\n",
        "height": 240,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        960
      ],
      "typeVersion": 1,
      "id": "0e3c034f-6c88-4008-a713-cb96c0df7f83",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1488,
        1184
      ],
      "id": "0b030d77-8649-4a5e-a3b5-7448a3ab0056",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const executionId = $execution.id;\nlet sqlStatements = [];\n\n// Constante: quantidade de gramas em uma onça troy\nconst GRAMS_PER_TROY_OUNCE = 31.1034768;\n\n// Função para calcular o preço da onça troy a partir do preço por grama\nfunction calculateTroyOuncePrice(pricePerGram) {\n  // Multiplica pelo número de gramas em uma onça troy\n  return pricePerGram * GRAMS_PER_TROY_OUNCE;\n}\n\nfor (const entry of $input.all()) {\n\n  const records = entry.json.valorioro?.valoreoro || [];\n  const usdRate = parseFloat(entry.json.price); // ainda mantém usdRate para registro na coluna existente\n\n  if (!usdRate) {\n    throw new Error(\"USD rate not received from API\");\n  }\n\n  for (const item of records) {\n\n    if (item.materiale !== 'oro') continue;        // filtra apenas ouro\n    if (parseInt(item.carati) !== 24) continue;    // filtra apenas ouro 24K\n    if (!item.valore || item.valore === \"0\") continue;  // ignora valores inválidos\n\n    const [datePart, timePart] = item.lastdate.split(\" \");\n    const [day, month, year] = datePart.split(\"/\");\n\n    const rateDate = `${year}-${month}-${day} ${timePart}`;\n\n    const material = 'oro';\n    const carati = 24;\n    const valor = parseFloat(item.valore);\n    const rawJson = JSON.stringify(item).replace(/'/g, \"''\");\n\n    // Calcula o preço da onça troy em moeda local (sem conversão para USD)\n    const ozPrice = calculateTroyOuncePrice(valor);\n\n    // INSERÇÃO NO HISTÓRICO\n    sqlStatements.push(`\n      IF NOT EXISTS (\n        SELECT 1\n        FROM Metal_Rates_History\n        WHERE RateDate='${rateDate}'\n        AND Material='oro'\n        AND Carati=24\n      )\n      INSERT INTO Metal_Rates_History\n      (ExecutionId, Material, Carati, Valor, RateDate, RawJson, Price_USD_EU, Oz_Price)\n      VALUES\n      ('${executionId}', '${material}', ${carati}, ${valor}, '${rateDate}', '${rawJson}', ${usdRate}, ${ozPrice});\n    `);\n\n    // ATUALIZAÇÃO OU INSERÇÃO NO REGISTRO ATUAL\n    sqlStatements.push(`\n      IF EXISTS (\n        SELECT 1 FROM Metal_Rates_Current\n        WHERE Material='${material}' AND Carati=${carati}\n      )\n        UPDATE Metal_Rates_Current\n        SET\n          Valor=${valor},\n          RateDate='${rateDate}',\n          ExecutionId='${executionId}',\n          Price_USD_EU=${usdRate},\n          Oz_Price=${ozPrice},\n          UpdatedAt=GETDATE()\n        WHERE Material='${material}' AND Carati=${carati};\n      ELSE\n        INSERT INTO Metal_Rates_Current\n        (ExecutionId, Material, Carati, Valor, RateDate, Price_USD_EU, Oz_Price, UpdatedAt)\n        VALUES\n        ('${executionId}', '${material}', ${carati}, ${valor}, '${rateDate}', ${usdRate}, ${ozPrice}, GETDATE());\n    `);\n\n  }\n}\n\nif (sqlStatements.length === 0) {\n  throw new Error('24K gold rate not found in API response');\n}\n\nconst finalQuery = `\nBEGIN TRY\n  BEGIN TRANSACTION;\n\n  ${sqlStatements.join('\\n')}\n\n  COMMIT TRANSACTION;\nEND TRY\nBEGIN CATCH\n  IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;\n  THROW;\nEND CATCH;\n`;\n\nreturn [\n  {\n    json: {\n      query: finalQuery\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        1184
      ],
      "id": "e3bea439-3333-4d25-bb8b-f2a74fcce68e",
      "name": "Code Function1",
      "alwaysOutputData": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        2304,
        1296
      ],
      "id": "703980d5-6b91-4111-9b4b-5f919168c8ab",
      "name": "Metal_Rates_History",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": false,
      "credentials": {
        "microsoftSql": {
          "id": "y8gX1wF8XVmUZZWB",
          "name": "SQL_Server_Connection"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO Integration_Log (ExecutionId, Status, Message)\nVALUES ('{{$execution.id}}', 'SUCCESS', 'Execution completed successfully');"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        2752,
        1392
      ],
      "id": "af339bc7-c31c-40c8-a602-08d9166ed9a3",
      "name": "Integration_Log",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "microsoftSql": {
          "id": "y8gX1wF8XVmUZZWB",
          "name": "SQL_Server_Connection"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 0 * * *"
            }
          ]
        }
      },
      "id": "2a1ba563-c8e9-4f05-9d6b-9a6df1054e9f",
      "name": "Schedule Daily 00:05",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1424,
        1616
      ]
    },
    {
      "parameters": {
        "jsCode": "const executionId = $execution.id;\n\nconst query = `\nDECLARE @TargetDate DATE = CAST(DATEADD(day,-1,GETDATE()) AS DATE);\n\nIF NOT EXISTS (\n    SELECT 1\n    FROM Metal_Rates_Daily\n    WHERE RateDate = @TargetDate\n    AND Material = 'oro'\n    AND Carati = 24\n)\nBEGIN\n\n    INSERT INTO Metal_Rates_Daily\n    (\n        RateDate,\n        Material,\n        Carati,\n        Valor,\n        RawJson,\n        ExecutionId,\n        Price_USD_EU,\n        Oz_Price,\n        CreatedAt\n    )\n\n    SELECT TOP 1\n        CAST(RateDate AS DATE),\n        Material,\n        Carati,\n        Valor,\n        RawJson,\n        '${executionId}',\n        Price_USD_EU,\n        Oz_Price,\n        GETDATE()\n\n    FROM Metal_Rates_History\n\n    WHERE\n        Material = 'oro'\n        AND Carati = 24\n        AND CAST(RateDate AS DATE) = @TargetDate\n\n    ORDER BY RateDate DESC;\n\nEND\n`;\n\nconst finalQuery = `\nBEGIN TRY\n\n    BEGIN TRANSACTION;\n\n    ${query}\n\n    COMMIT TRANSACTION;\n\nEND TRY\nBEGIN CATCH\n\n    IF @@TRANCOUNT > 0\n        ROLLBACK TRANSACTION;\n\n    THROW;\n\nEND CATCH;\n`;\n\nreturn [{\n  json: {\n    query: finalQuery\n  }\n}];"
      },
      "id": "c6efdf46-0e52-4305-bb9f-6776860492f9",
      "name": "Generate Daily SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        1616
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}"
      },
      "id": "a8623c85-e5ee-4ea2-9ecc-568074be20f5",
      "name": "Insert Daily Price",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        2304,
        1504
      ],
      "credentials": {
        "microsoftSql": {
          "id": "y8gX1wF8XVmUZZWB",
          "name": "SQL_Server_Connection"
        }
      }
    },
    {
      "parameters": {
        "content": "#### Flusso per catturare e inserire l'ultimo prezzo del giorno precedente e fornirlo a NAV.",
        "height": 208,
        "width": 688,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        1552
      ],
      "typeVersion": 1,
      "id": "bbe7f2f4-1cc7-4fc4-82c0-df2b22fad686",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 896,
        "width": 2944,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        896
      ],
      "typeVersion": 1,
      "id": "aa0292d1-43f1-459a-a294-6116bfb6bc36",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "Get Gold Price",
        "height": 288,
        "width": 592,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        928
      ],
      "typeVersion": 1,
      "id": "6a224eb2-47ea-466d-ac2a-e5ac4c5f2016",
      "name": "Sticky Note17"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTPGetCurrency1": {
      "main": [
        [
          {
            "node": "GetOnlyUSD1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetOnlyUSD1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "XML1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTPGetCurrency1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code Function1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Function1": {
      "main": [
        [
          {
            "node": "Metal_Rates_History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Daily 00:05": {
      "main": [
        [
          {
            "node": "Generate Daily SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Daily SQL": {
      "main": [
        [
          {
            "node": "Insert Daily Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Daily Price": {
      "main": [
        [
          {
            "node": "Integration_Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metal_Rates_History": {
      "main": [
        [
          {
            "node": "Integration_Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "8WOOVbz4XdOItLCH",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "versionId": "8cf9abeb-c0e6-40b6-ac6c-74dec71a881a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "711a000180ffa73c55cc8058636c4d0332882f1b05ff4b0efc5d07047540edca"
  },
  "id": "HDSdez0joDV169es",
  "tags": []
}
