Workflow-in-production/Metal Rates Integration - Error LOG.json
{
  "name": "Metal Rates Integration - Error LOG",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        384,
        304
      ],
      "id": "d35c484b-6e67-42c4-828a-415aed1451f0",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "content": "Errr Trigge LOG:",
        "height": 352,
        "width": 880,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        192
      ],
      "typeVersion": 1,
      "id": "10acb052-f001-4fd4-9e25-2799d6573a78",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO Integration_Log (ExecutionId, Status, Message)\nVALUES (\n  '{{ $json.executionId }}',\n  'ERROR',\n  'Node: {{ $json.errorNode }} | {{ $json.errorMessage }}'\n);\n--INSERT INTO Integration_Log (ExecutionId, Status, Message)\n--VALUES (\n--  '{{ $json.executionId }}',\n--  'ERROR',\n--  'Node: {{ $json.errorNode }} | {{ $json.errorMessage.replace(/'/g, \"''\") }}'\n--);"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        960,
        224
      ],
      "id": "bc01f1bb-4c66-4ca1-b8b5-d8637cfa65e6",
      "name": "Microsoft SQL",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "maxTries": 2,
      "credentials": {
        "microsoftSql": {
          "id": "y8gX1wF8XVmUZZWB",
          "name": "SQL_Server_Connection"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "alerts@example.com",
        "toEmail": "alerts@example.com",
        "subject": "=🚨 Metal Rates Integration (PROD) - ERROR - Execution {{$execution.id}}",
        "html": "=<h2 style=\"color:#d9534f;\">🚨 Metal Rates - Production Failure</h2>\n\n<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse:collapse;\">\n  <tr><td><strong>Workflow</strong></td><td>{{$json.workflowName}}</td></tr>\n  <tr><td><strong>Execution ID</strong></td><td>{{$json.executionId}}</td></tr>\n  <tr><td><strong>Mode</strong></td><td>{{$json.mode}}</td></tr>\n  <tr><td><strong>Timestamp</strong></td><td>{{$json.timestamp}}</td></tr>\n  <tr><td><strong>Failed Node</strong></td><td style=\"color:#d9534f;\"><strong>{{$json.errorNode}}</strong></td></tr>\n  <tr><td><strong>Error Type</strong></td><td>{{$json.errorType}}</td></tr>\n</table>\n\n<h3>Error Message</h3>\n<pre style=\"background:#fff3f3; padding:10px; border-left:4px solid #d9534f;\">{{$json.errorMessage}}</pre>\n\n<h3>Stack Trace</h3>\n<pre style=\"background:#f5f5f5; padding:10px; font-size:12px;\">{{$json.errorStack}}</pre>\n\n<h3>Raw Error Dump (debug)</h3>\n<pre style=\"background:#f0f0f0; padding:10px; font-size:11px;\">{{$json.rawDump}}</pre>\n\n<hr>\n<p style=\"color:red;\"><strong>Action Required:</strong> Check SQL connectivity, XML API availability, and integration logs immediately.</p>\n```\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        960,
        384
      ],
      "id": "acc43846-96ac-45d2-be6f-9543ed8e2739",
      "name": "Send an Email Erro Log",
      "webhookId": "62e6bbc0-d50e-4d10-8e6d-c62d5fe72bbd",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "XDJxIs4OYCFaDOFH",
          "name": "SMTP Notifica Ritiri"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Busca os dados diretamente do Error Trigger, ignorando o output do SQL\nconst errorData = $('Error Trigger').first().json;\n\nconst executionId = errorData?.execution?.id || $execution.id || 'N/A';\n\nconst mode = errorData?.execution?.mode || 'Test';\nconst workflowName = errorData?.workflow?.name || 'Metal Rates';\n\nconst errorMessage = errorData?.error?.message || \n                     errorData?.error?.description || \n                     JSON.stringify(errorData?.error) || \n                     'Menssagio di errore non disponibile';\n\nconst errorNode = errorData?.error?.node?.name || \n                  errorData?.error?.context?.nodeName || \n                  'Node non identificato';\n\nconst errorStack = errorData?.error?.stack || 'Stack trace non disponibile';\n\nconst errorType = errorData?.error?.name || \n                  errorData?.error?.type || \n                  'Tipo sconosciuto';\n\nconst timestamp = new Date().toLocaleString('pt-IT', { timeZone: 'Europe/Rome' });\n\n// Sanitiza para uso seguro em SQL (escapa aspas simples)\nconst sanitize = (str) => String(str || '').replace(/'/g, \"''\").substring(0, 2000);\n\nreturn [{\n  json: {\n    executionId,\n    mode,\n    workflowName,\n    errorMessage: sanitize(errorMessage),   // já sanitizado\n    errorNode:    sanitize(errorNode),       // já sanitizado\n    errorStack,\n    errorType,\n    timestamp,\n    rawDump: JSON.stringify(errorData, null, 2)\n  }\n}];\n\n//return [{\n//  json: {\n//    executionId,\n//    mode,\n//    workflowName,\n//    errorMessage,\n//    errorNode,\n//    errorStack,\n//    errorType,\n//    timestamp,\n//    rawDump: JSON.stringify(errorData, null, 2)\n//  }\n//}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        304
      ],
      "id": "36a80cbf-7a32-44a8-a8b7-10fdabdd437f",
      "name": "Code in origem (funciona)"
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Code in origem (funciona)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        []
      ]
    },
    "Code in origem (funciona)": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send an Email Erro Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f99353fc-51eb-4137-a5cd-6a83a11fc70b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "711a000180ffa73c55cc8058636c4d0332882f1b05ff4b0efc5d07047540edca"
  },
  "id": "8WOOVbz4XdOItLCH",
  "tags": []
}
