Workflow-in-production/Webhook - Gold Price REST API.json
{
  "name": "Webhook — Gold Price REST API to site: client-site.example",
  "nodes": [
    {
      "parameters": {
        "content": "## Webhook — Gold Price REST API to site: client-site.example",
        "height": 456,
        "width": 1128,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        16
      ],
      "typeVersion": 1,
      "id": "18f29d9e-1351-445a-88cf-c6301d9c69a0",
      "name": "Sticky Note — Webhook Info"
    },
    {
      "parameters": {
        "path": "ouro/atual",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -96,
        272
      ],
      "id": "0c75abf8-1811-45cf-9071-a2b42ddc194f",
      "name": "Webhook GET /ouro/atual",
      "webhookId": "gold-price-endpoint"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT TOP 1\n  Material,\n  Carati,\n  Valor        AS valor_grama,\n  Oz_Price     AS oz_price,\n  Price_USD_EU AS usd_eur,\n  UpdatedAt    AS updated_at,\n  RateDate     AS rate_date\nFROM Metal_Rates_Current\nWHERE Material = 'oro' AND Carati = 24\nORDER BY UpdatedAt DESC;"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        144,
        272
      ],
      "id": "c82b509e-092a-412f-88ee-f7b5ee34a02c",
      "name": "SQL — Read Current Gold Price",
      "alwaysOutputData": false,
      "credentials": {
        "microsoftSql": {
          "id": "y8gX1wF8XVmUZZWB",
          "name": "SQL_Server_Connection"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega o primeiro resultado do SQL\nconst row = $input.first()?.json;\n\nif (!row) {\n  return [{\n    json: {\n      success: false,\n      error: 'No gold price data found in database',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Formata a resposta limpa para o site consumir\nreturn [{\n  json: {\n    success: true,\n    data: {\n      material:    row.Material    ?? 'oro',\n      carati:      row.Carati      ?? 24,\n      valor_grama: parseFloat((row.valor_grama ?? 0).toFixed(4)),\n      oz_price:    parseFloat((row.oz_price    ?? 0).toFixed(4)),\n      usd_eur:     parseFloat((row.usd_eur     ?? 0).toFixed(6)),\n      rate_date:   row.rate_date   ?? null,\n      updated_at:  row.updated_at  ?? null\n    },\n    source: 'Gold feed via N8N',\n    fetched_at: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        272
      ],
      "id": "fa52cb42-0a5a-4688-a1a2-d06447bfa6e9",
      "name": "Code — Format JSON Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache, no-store, must-revalidate"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        624,
        272
      ],
      "id": "dfc269e6-468d-47b7-9369-b43e66cc21c7",
      "name": "Respond to Webhook — JSON"
    },
    {
      "parameters": {
        "content": "This workflow exposes a GET endpoint that the client-site.example website can call to receive the current gold price directly from SQL Server.\n\n**Access URL:**\n`GET https://<your-n8n>/webhook/gold/current`\n\nThe website should perform a fetch() on this endpoint every X minutes.\n\nBasic authentication is not required, but CORS is enabled.",
        "height": 368,
        "width": 1056
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        80
      ],
      "typeVersion": 1,
      "id": "25b1d09a-5787-4998-8645-0dd47cf5059b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### The developer of client-site.example adds to the website:\nIt runs every 10 minutes.\n \nsetInterval(async () => {\n  const res = await fetch('https://<seu-n8n>/webhook/ouro/atual');\n  const { data } = await res.json();\n  document.getElementById('preco-ouro').textContent = data.oz_price.toFixed(2) + ' €/oz';\n}, 10 * 60 * 1000);",
        "height": 224,
        "width": 1136,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        480
      ],
      "typeVersion": 1,
      "id": "7a5962cc-875e-4dcc-beac-afbe677c7dca",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook GET /ouro/atual": {
      "main": [
        [
          {
            "node": "SQL — Read Current Gold Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL — Read Current Gold Price": {
      "main": [
        [
          {
            "node": "Code — Format JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Format JSON Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook — JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "8WOOVbz4XdOItLCH",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "96def95b-ef1e-4b31-9e7c-5d66ab6cd963",
  "meta": {
    "instanceId": "711a000180ffa73c55cc8058636c4d0332882f1b05ff4b0efc5d07047540edca"
  },
  "id": "jJDzXdb8snBgdHP3",
  "tags": []
}
